<!-- Starter form -->
<div id="starterForm" class="animated-content">

    <p class="lead text-center">How do you want to set up your site?</p>

    <div class="row">
        <div class="col-md-4" id="start">
            <div class="cloud-content starter-item clean">
                <i class="icon icon-rocket"></i>
                <a
                    href="javascript:Installer.Pages.starterForm.start()"
                    class="btn btn-default btn-lg">
                    Start installation
                </a>
                <hr />
                <p>Install Favus without any plugins or themes. This is a good option to choose for custom building.</p>
                <p>You'll need to code your site in HTML / CSS.</p>
            </div>
        </div>
    </div>

</div>
